.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 5px;
  margin-left: 5px;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.cardWrapper {
  margin-top: 18px;
}

.wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
